.FeatureMenu {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-list li {
    margin: 15px 0;
    padding: 15px;
    background-color: #61dafb;
    color: #282c34;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* 確保選單項目佔滿可用寬度 */
    max-width: 300px; /* 限制選單項目的最大寬度 */
    margin-left: auto; /* 水平居中對齊 */
    margin-right: auto; /* 水平居中對齊 */
  }
  
  .menu-list li:hover {
    background-color: #21a1f1;
  }

  .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em; /* 調整登出按鈕的字體大小，與選單項目一致 */
    border-radius: 5px; /* 與選單項目一致的圓角 */
    border: none; /* 去掉按鈕的預設邊框 */
    background-color: #61dafb; /* 按鈕背景色與選單項目一致 */
    color: #282c34; /* 按鈕文字顏色與選單項目一致 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #21a1f1; /* 按鈕懸停時與選單項目懸停效果一致 */
}